body {
    background: lightgray;
}

img {
    padding: 5px;
}

#title {
    background: lightblue;
    text-align: center;
    padding: 10px 0 10px 0;
}

#instructions {
    padding: 20px;
}

#scores {
    text-align: center;
    padding: 20px;
    background: white;
    margin: 20px 50px 20px 20px;
    border-radius: 20px;

}